@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #c69833;
  --background-color: #f5f5f5;
  --black: #333333;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.box2 p span{
  font-family: 'Cocogoose', sans-serif;
  color: var(--primary-color);
}

.copy-email {
  left: 65%;
  bottom: 11%;
}

.copy-email button{
  font-size: 2.7rem;
  height: 7.4rem;
  font-family:Jetbrains Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  color: var(--primary-color);
  border: 0.15rem solid var(--primary-color);
  border: 2px solid var(--primary-color);
  transition: all 0.2s ease-in-out; 
}

.copy-email button:hover{
  background-color: #c69833;
  border-radius: 0.4rem;
  color: white;
  border: 2px solid #fff;
  box-shadow: 0px 0px 0px 3px #c69833;
}


.hamburger {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
}


.hamburger.open span:first-child {
  transform: translateY(13px) rotate(45deg);
}

.hamburger.open span:last-child {
  transform: translateY(-13px) rotate(-45deg);
}


/* footer  */
.socials svg{
  fill: #ff0000;
}

@media all and (min-width:500px) {
  .navbar button{
    display: none;
  } 

  .hamburger{
      display: none;
  }
}

@media all and (max-width: 900px) {
  .box1{
    margin: 0;
  }

  .box2{
    margin: 0;
  }
}
@media all and (max-width: 500px) {
  .banner{
    font-size: 2.2rem;
  }

  /* .container{
    background-image: url('/avatar.svg');
    background-size: cover;
    background-position: center;
    height: 100%;
  } */

  

  .links {
    display: none;
  }

  .box1{
    display: none;
  }

  .box2{
    width: 100%;
    margin: 2rem;
    flex-direction: column;
  }

  
  /* #box2{
    
  } */
  .copy-email{
    position: static;
    padding-top: 1rem;
  }

  .copy-email .copy_email {
    font-size: 2rem;

  }

}


/* About Page */
  
  
.about-content{
  /* font-family: 'Dosis', sans-serif; */

  width: 75.0rem;
  height: 45.0rem;
  transform: translate(-50%, -50%);
}

.about_summary p{
  word-spacing: 0.7rem;
  padding: 1rem 1rem;
}

.service-list {
 
  grid-template-columns: repeat(2, 1fr);
  font-size: 3.3rem;
}

.service-list p{
 font-family: 'Coolvetica', sans-serif;
 padding: 2rem;
 color: #000;
}

@media all and (max-width: 900px) {

}

@media all and (max-width: 500px) {
  .about-content{
    width: 100%;
    padding: 3rem 3rem;
    height: 50rem;
  }

  .service-list {
    display: flex;
    flex-direction: column;
  }

  .about_contacts {
    display: none;
  }
  .about_summary p{
    font-size: 1.4rem;
    word-spacing: 0.7rem;
    padding: 1rem 0rem;
    font-weight: 300;
  }

  .service-list p{
    padding: 1.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }


}


/* Work page */
.work {
  font-size: 1.8rem;
  
  font-family:Jetbrains Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;

}

.work-frame{
  padding: 0rem 10.0rem; 
}

.work-frame p {
  word-spacing: 0.5rem;
}

.work_example {

  padding: 0.5rem 4.0rem; 
}

.work_cards{
  width: 53rem;
  height: 54rem;
  margin: 2.4rem;
  background-color: #04151F;
  border-radius: 0.5rem;
 
}

@media all and (max-width: 500px) {

  .work-frame{
    padding: 8.0rem 3.0rem; 
  }
  
}



/* Contact Page */
.contact {
  font-size: 1.6rem;
}


.contact input{
  height: 2.8em;
  font-size: 1.5rem;
  border: 1.5px solid #c7c7c7;
}



.name-input{
  
  padding: 0.4rem;
  margin: 0.6rem 0;
  outline: 0;
}

.name-input:focus{
  box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);  
  border-radius: 0.4rem; 
  /* border: 1.7px solid #000000; */
}


.form-control{
  padding: 0.4rem;
  margin: 0.6rem 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  outline: 0;
  border: 1.5px solid #c7c7c7;
  display: flex;
  flex-direction: column;
}



.f-name{
  width: 48%;
  display: block;
  float: left;
}

.l-name{
  width: 48%;
  float: right;
}

.form-inner-wrapper textarea{
  height: 12.0rem;
  font-size: 1.5rem;
}

.form-inner-wrapper{
padding-top: 2.2rem;
}

.form-control:focus{
  box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1); 
  border-radius: 0.4rem; 
      /* border: 1.7px solid #000000; */
}

.contact-form form div{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}


.sub{ 
  font-family:Jetbrains Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  color: var(--black);
  border: 0.15rem solid var(--black);
  border: 2px solid #333;
  transition: all 0.2s ease-in-out;
}

.sub:hover{
  background-color: #555;
  border-radius: 0.4rem;
  color: white;
  border: 2px solid #fff;
  box-shadow: 0px 0px 0px 3px #333;
}



.headline{
padding: 4.5rem 0rem;

}

@media all and (max-width: 500px) {
  .contact-form{
    padding: 10.0rem 3.0rem;
  }

  .contact_email{
    font-size: 1.3rem;
  }
  

}